<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/" style="font-size:19px;"><b>{{ site.title }}</b></a>

    <nav >
      <div class="trigger">
        {% if site.description %}
        {{ site.description }}
        <br><br>
        {% endif %}
        {% if site.email %}
          email me at {{ site.email }}
        {% endif %}

        <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe</a></p>
      </div>
    </nav>

  </div>

</header>
